/.bundle/
/.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/dummy/tmp/local_secret.txt
/spec/dummy/db/test.sqlite3*

# rspec failure tracking
.rspec_status
/Gemfile.lock
/spec/dummy/log/test.log

# Appraisals
*.gemfile.lock
/gemfiles/.bundle
