name: Release

on: workflow_dispatch

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ruby/setup-ruby@master

      - name: Install gems
        run: bundle install

      - name: Setup git config
        run: |
          # Setup the username and email to enable git tag creation
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Create release
        run: |
          gem_push=false bundle exec rake release
          gem build *.gemspec
          gem push *.gem
        env: 
          GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_API_KEY}}       
