name: Release

on: workflow_dispatch

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - uses: ruby/setup-ruby@master

      - name: Install gems
        run: bundle install

      - name: Create release
        run: bundle exec rake release

      - name: Publish to RubyGems
        run: |
          gem build
          gem push
        env:
          GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_API_KEY}}
