name: Integrate

on:
  issue_comment:
    types: [ created ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PR_URL: ${{ github.event.issue.pull_request.url }}

jobs:
  integrate:
    name: Integrate
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '/integrate')
    runs-on: ubuntu-latest
    steps:
      - name: Success feedback
        if: job.status == 'success'
        run: |
          gh api graphql --paginate -f query='
            mutation {
              addReaction(input: { clientMutationId: "integrate.yml", content: THUMBS_UP, subjectId: ${{github.event.comment.node_id}} }) {
                clientMutationId
              }
            }'
