name: Integrate

on:
  issue_comment:
    types: [ created ]

jobs:
  integrate:
    name: Integrate
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '/integrate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: bundle exec appraisal install
