name: Integrate

on:
  issue_comment:
    types: [ created ]

jobs:
  integrate:
    name: Integrate
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '/integrate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ruby/setup-ruby@master
      - name: Install gems
        run: bundle install
      - name: Install dependencies
        run: bundle exec appraisal install
      - name: Run Rubocop
        run: bundle exec appraisal rake rubocop
      - name: Run Specs
        run: bundle exec appraisal rake spec
