name: Integrate

on:
  issue_comment:
    types: [ created ]

env:
  PR_REF: ${{ format('refs/heads/{0}', github.event.pull_request.head.ref) }}

jobs:
  integrate:
    name: Integrate
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '/integrate')
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Checkout Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_URL="${{ github.event.issue.pull_request.url }}"
          PR_NUM=${PR_URL##*/}
          gh pr checkout $PR_NUM
      - uses: ruby/setup-ruby@master
      - name: Install gems
        run: bundle install
      - name: Install dependencies
        run: bundle exec appraisal install
      - name: Run Rubocop
        run: bundle exec appraisal rake rubocop
      - name: Run Specs
        run: bundle exec appraisal rake spec
